#drop-zone {
    border: 5px dotted #ccc;
    padding: 100px;
    text-align: center;
  }
  #image {
    display: none;
  }
  #button {
    display: none;
  }
  h1
  {
    display: none;
  }
  




  
  
  